data/
data1/
datasets/
test_data/video
Aircraft Defect Detection/
Faster_R-CNN/dataset
Faster_R-CNN/dataset1
Faster_R-CNN/dataset2
Faster_R-CNN/faster_rcnn.pth
готовые нейронки/AlexNet/alexnet_aircraft_defect_classifier.keras
готовые нейронки/VGG/vgg16_aircraft_defect_classifier.keras
final_model.keras
best_model.keras
aircraft_defect_classifier.keras
yolo11n.pt
YOLO/datasets/
runs/
Faster_R-CNN/faster_rcnn_old.pth
ворды/презы/3.2 Презентация 103М Гайдайчук Д.А..pptx
ворды/презы/3.4 Презентация 103М Гайдайчук Д.А..pptx
runs/diploma_training/experiment_1/weights/best.pt
runs/diploma_training/experiment_1/weights/last.pt